@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

button {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000f5c;
  border-radius: 10 px;
}

body::-webkit-scrollbar-track {
  background-color: white;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none !important;
  border-radius: 10px !important;
  width: 50px;
  height: 67px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px !important;
}

.leaflet-right {
  right: 8px !important;
}

.leaflet-bottom {
  bottom: 25px !important;
}

.leaflet-control-attribution {
  display: none !important;
}
/* global.css */
.scrollable {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #9ca3af #f3f4f6;
  /* thumb color track color */
}

/* Chrome/Edge */
.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #788aa9;
  border-radius: 3px;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.leaflet-control-zoom {
  border-radius: 10px;
  overflow: hidden;
  /* make sure radius applies to both + and - */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.leaflet-control-zoom a {
  width: 50px !important;
  height: 33.5px !important;
  /* split 67px total into two equal buttons */
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 4px !important;
  background-color: #fff !important;
  color: #29abe2 !important;
  border: none !important;
  font-size: 20px;
  /* bigger + / - */
  font-weight: bold;
}

/* Lower z-index of map tiles and markers */
.leaflet-pane,
.leaflet-tile,
.leaflet-overlay-pane,
.leaflet-marker-pane,
.leaflet-shadow-pane {
  z-index: 0 !important;
}

/* Ensure controls stay above */
.leaflet-control {
  z-index: 500 !important;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #4ac4f3, #0d9be5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #4ac4f3, #0d9be5);
  border: 2px solid #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
